.text{
    color: #314E7C;
    font-family: sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.text-2{
    color: #314E7C;
    font-family:  sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
.buton{
    justify-content: center;
    gap: 20px;
    
}
.info{
    position: relative;
    bottom: 90px
}
.btn{
    background-color: #314E7C;
    color: white;
    width: 200px;
    height: 50px;

}
.card{
    background-color: #d3e7f8;
}